body {margin: 0px 0px 0px 0px;}
blockquote.quote {margin-top:0.5em;margin-bottom:.5em}
p.p {margin:0 auto 0.5em auto;white-space:normal;}
pre { font-family: initial; background-color: white; padding: 0px !important }
span.line {margin:0;;padding-left:2em;text-indent:-2em;display:inline-block;-aese-level:1}
span.line-indent1 {margin:0;padding-left:3em;text-indent:-2em;display:inline-block;-aese-level:1}
span.line-indent2 {margin:0;padding-left:4em;text-indent:-2em;display:inline-block;-aese-level:1}
span.line-indent3 {margin:0;padding-left:5em;text-indent:-2em;display:inline-block;-aese-level:1}
span.line-indent4 {margin:0;padding-left:6em;text-indent:-2em;display:inline-block;-aese-level:1}
span.line-indent5 {margin:0;padding-left:7em;text-indent:-2em;display:inline-block;-aese-level:1}
span.line-final {margin: 0px 10px 0px 120px;-aese-level:1 }
p.stage {margin: 0.5em auto 0.5em auto;text-align:right;white-space:pre}
p.stanza {margin-top: 10px; margin-bottom:10px;white-space:pre;margin-left:auto;margin-right:auto;word-wrap:normal}
.title, .subtitle, .parthead {text-align: center; }
h3 {margin: 0.75em auto 0.75em auto;}
h3.title { font-weight: normal; font-size: 1.125em; text-align:center;white-space:pre}
h3.head {font-weight: normal;font-size: 1.125em;text-align:center;white-space:pre;} h2.subtitle { font-weight: normal;font-size: 1.125em;text-align:center;white-space:pre }
h3.parthead {font-size: 1.125em;white-space:pre;} .head { font-size: 1.125em }
p.trailer {text-align: right;margin:20px auto 20px auto;white-space:pre;}
span.firstword {display:table;float:right;transform:translateX(100%);}
.firstword::before { content: '[' }
h1,h2,h3,h4,h5,h6 {text-align:center }
h1,h2,h3 { font-weight: normal }
p.dedication { text-align:center;margin 1em 0 1em 1em; margin-top: 20px; white-space:pre}
p.colophon { margin-top: 10px; margin-bottom: 10px}
p.hnote { margin:10px auto 10px auto;}
.hnote p {width:100%;margin:0;text-indent:1em;}
.hnote p:first-child{text-indent:0}
span.underlined {text-decoration: underline;}
span.del-pencil { text-decoration: line-through; 
-moz-text-decoration-color: grey;
 text-decoration-color: grey;}
span.pencil {
font-family: "Comic Sans MS", "Comic Sans", cursive;
color: grey;
}
span.double-underlined {
 border-bottom: 3px;
 border-bottom-style: double;
}
span.erased {
 color: white;
 text-shadow:
 -1px -1px 0 #888,
 1px -1px 0 #888,
 -1px 1px 0 #888,
 1px 1px 0 #888;
}
span.black-letter { font-size:1.25em; }
span.superscript { vertical-align: super; font-size: .83em }
span.smallcaps { font-variant: small-caps; }
span.emphasis { font-style: italic; }
span.expanded { font-weight: 600; }
span.metamark { vertical-align: super; font-size: .83em }
span.author { letter-spacing:1px; }
span.date { text-align:left }
span.sic {
 text-decoration-line: underline; -moz-text-decoration-line: underline;	 
 -moz-text-decoration-style: wavy; -webkit-text-decoration-style: wavy; text-decoration-style: wavy;	 
 -moz-text-decoration-color: red;
}
span.italics { font-style: italic }
span.bold { font-weight: bold }
span.unclear { border-bottom: 2px dotted #bbb; text-decoration: none; }
span.page {-aese-level:1;display:none}
.stanza .soft-hyphen {display:inline;}
span.soft-hyphen { display:none }
.stanza .hard-hyphen {display:inline}
span.hard-hyphen { display:none } 
