#toolbar {
	width: 100%;
	background-color: #DDDDDD;
	padding: 0.5em;
}
#toolbar label {
	font-weight:bold;
}
#container {
	width:100%;
}
#lhs {
	float:left;
	width:50%;
	border: thin solid black;
	box-sizing: border-box;
}
#lhs + #rhs {
	float:right;
	width:50%;
	border: thin solid black;
	border-left:0;
	box-sizing: border-box;
}
#lhs,#rhs {
    padding-left:1em;
}
#container label {
	padding:0.5em;
}
#lhs_body,#rhs_body {
	overflow-y: auto;
  	overflow-x: hidden;
}
.header {
    padding: 0.3em;
    border-bottom: solid black thin;
    border-left: solid black thin;
}
